* {
    box-sizing: border-box;
}

body {
    background: aqua;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    padding: 1vw;
}

ul {
    list-style: none;
}